@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

*{
    font-family: 'RocknRoll One', sans-serif;
}

.bodySignUpLogin {
    background-image: url(images/band2.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    margin: 175px auto 0px;
    background-color: black;
    color: #b91c1c;
    border: 2px solid #c2410c;
    border-radius: 16px;
    
}

.loginP {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 36px;
}

.signupP {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 36px;
}

.inputs {
    margin-top: 4px;
}

.inputs input {
    width: 295px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #c2410c;
    outline: 0;
    background-color: black;
    padding: 4px 12px;
    color: #ef4444;
    font-size: 16px;
}

.inputs input:focus {
    border-color: #f97316;
}

.entrar {
    display: block;
    width: 100%;
    background-color: #c2410c;
    font-size: 16px;
    padding: 8px;
    text-align: center;
    color: black;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    margin-top: 18px;
}

.entrar:active {
    background-color: #f97316;
}

.registrate {
    text-align: center;
    font-size: 14px;
    text-decoration: underline;
}

.registrate:link {
    color: #f97316;
}

.registrate:visited {
    color: #c2410c
}
