@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

* {
    font-family: 'RocknRoll One', sans-serif;
}

/* Animación Index */
.pIndex,
.aIndex {
    animation: fadeIn 1.5s ease-in-out;
}


.logoIndex {
    animation: zoomIn 0.8s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}